.header-logo {
    display: flex;
    align-items: center;

    &__link {
        color: inherit;
        font-weight: 600;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.header-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    &__item {
        padding: 0 20px;
        line-height: 40px;
        color: inherit;
        font-weight: 300;

        &:hover,
        &:focus {
            color: inherit;
        }
    }
}
