<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}</title>

        <link rel="stylesheet" href="{{ "/css/app.css" | relURL }}" />
    </head>
    <body>
        {{ partial "header.html" . }}

        <main role="main" class="main">
            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </main>

        {{ partial "footer.html" . }}

        {{ partial "scripts.html" . }}
    </body>
</html>
