#app {
    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
    }
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

header {
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: $navbar-default-bg;
    color: #fff;

    @supports (display: grid) {
        grid-column: span 12;
    }
}

footer {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    height: 30px;
    background-color: $navbar-default-bg;
    color: #fff;

    a {
        color: inherit;
        text-decoration: underline;
    }

    @supports (display: grid) {
        grid-column: span 12;
    }
}

.grid-container {
    padding: 20px;
    max-width: $container-width-xl;
    margin: 0 auto;

    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
        grid-column: span 12;
    }

    &--gutterless {
        padding-left: 0;
        padding-right: 0;
    }
}
